workflows/prod_deployment.json
{
"Comment": "Prod blue/green style deployment",
"StartAt": "LaunchTasks",
"States": {
  "LaunchTasks": {
	"Type": "Parallel",
	"Next": "CoffeeBreak",
	"ResultPath": "$._overrides",
	"Branches": [
		{
		  "StartAt": "PointStagingtoProdDB",
		  "States": {
			"PointStagingtoProdDB": {
				"Type": "Task",
				"Resource":"arn:aws:lambda:us-east-1:643366669028:function:update_bs_config",
				"Next": "WaitForBeanstalk"
			},
			"WaitForBeanstalk": {
				"Type": "Task",
				"Resource":"arn:aws:lambda:us-east-1:643366669028:function:waitfor",
				"Retry": [
				  {
					"ErrorEquals": ["WaitingForBoto3"],
					"IntervalSeconds": 60,
					"MaxAttempts" : 100,
					"BackoffRate" : 1.0
				   }
				],
				"End": true 
			}
		  }
		},
	   {
	      "StartAt": "TravisBuild",
		  "States": {
			  "TravisBuild": {
			   	"Type": "Task",
				"Resource": "arn:aws:lambda:us-east-1:643366669028:function:travis-deploy",
			    "End": true
			  }
		  }
		},
	   {
	      "StartAt": "PassAlongInput",
		  "States": {
			  "PassAlongInput": {
			   	"Type": "Pass",
			    "End": true
			  }
		  }
		}
	 ]
	},
	"CoffeeBreak": {
	  "Type": "Wait",
	  "Seconds": 1200, 
	  "Next": "WaitForIndexing" 
	},
	"WaitForIndexing": {
		"Type": "Task",
		"Resource":"arn:aws:lambda:us-east-1:643366669028:function:waitfor",
        "Retry": [
          {
            "ErrorEquals": ["WaitingForBoto3"],
            "IntervalSeconds": 60,
            "MaxAttempts" : 100,
            "BackoffRate" : 1.0
           }
        ],
	    "Next": "ReconfigureBeanstalk"
	},
	"ReconfigureBeanstalk": {
		"Type": "Task",
		"Resource":"arn:aws:lambda:us-east-1:643366669028:function:update_bs_config",
	    "Next": "WaitForBeanstalkReconfigure"
	},
	"WaitForBeanstalkReconfigure": {
		"Type": "Task",
		"Resource":"arn:aws:lambda:us-east-1:643366669028:function:waitfor",
        "Retry": [
          {
            "ErrorEquals": ["WaitingForBoto3"],
            "IntervalSeconds": 60,
            "MaxAttempts" : 100,
            "BackoffRate" : 1.0
           }
        ],
	    "Next": "UpdateFoursight"
	},
	"UpdateFoursight": {
		"Type": "Task",
		"Resource":"arn:aws:lambda:us-east-1:643366669028:function:update_foursight",
		"End": true 
	}
  }
}

