workflows/staging_deployment.json
{
"Comment": "We use this to coordinate AWS infrastructure building with Travis Builds, should be failry generic",
"StartAt": "LaunchTasks",
"States": {
  "LaunchTasks": {
	"Type": "Parallel",
	"Next": "CreateBeanstalk",
	"ResultPath": "$._overrides",
	"Branches": [
		{
		  "StartAt": "SnapshotRDS",
		  "States": {
  		    "SnapshotRDS": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-east-1:643366669028:function:snapshot-rds",
			"ResultPath": "$.snapshot",
			"Retry": [
			  {
				"ErrorEquals": ["WaitingForBoto3"],
				"IntervalSeconds": 30,
				"MaxAttempts" : 100,
				"BackoffRate" : 1.0
			   }
			],
			"End": true
		    }
		  }
		},
		{
		  "StartAt": "CreateES",
		  "States": {
		  "CreateES": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-east-1:643366669028:function:create_es",
			"ResultPath": "$.es",
			"Next": "WaitForES"
		   },
		    "WaitForES": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-east-1:643366669028:function:waitfor",
			"InputPath": "$.es",
			"Retry": [
			  {
				"ErrorEquals": ["WaitingForBoto3"],
				"IntervalSeconds": 30,
				"MaxAttempts" : 100,
				"BackoffRate" : 1.0
			   }
			],
			"End": true
		    }
		 }
	   },
	   {
	      "StartAt": "PassAlongInput",
		  "States": {
			  "PassAlongInput": {
			   	"Type": "Pass",
			    "End": true
			  }
		  }
		}
	 ]
	},
	"CreateBeanstalk": {
	  "Type": "Task",
	  "Resource": "arn:aws:lambda:us-east-1:643366669028:function:create_beanstalk",
	  "ResultPath": "$.beanstalk",
	  "Next": "WaitForBeanstalk"
	},
	"WaitForBeanstalk": {
	"Type": "Task",
	"InputPath": "$.beanstalk",
	"ResultPath": "$.beanstalk",
	"Resource": "arn:aws:lambda:us-east-1:643366669028:function:waitfor",
	"Retry": [
	  {
		"ErrorEquals": ["WaitingForBoto3"],
		"IntervalSeconds": 30,
		"MaxAttempts" : 100,
		"BackoffRate" : 1.0
	   }
	 ],
	 "Next": "TravisBuild"
	},
    "TravisBuild": {
		"Type": "Task",
		"Resource": "arn:aws:lambda:us-east-1:643366669028:function:travis-deploy",
		"Next": "WaitForIndexingTransform"
	},
	"WaitForIndexingTransform": {
        "Type": "Pass",
        "Result": "indexing",
        "ResultPath": "$.type",
        "Next": "BeanstalkIdTransform"
    },
    "BeanstalkIdTransform": {
        "Type": "Pass",
        "InputPath": "$.beanstalk.id",
        "ResultPath": "$.id",
        "Next": "WaitForIndexing"
    },

	"WaitForIndexing": {
		"Type": "Task",
		"Resource":"arn:aws:lambda:us-east-1:643366669028:function:waitfor",
        "Retry": [
          {
            "ErrorEquals": ["WaitingForBoto3"],
            "IntervalSeconds": 60,
            "MaxAttempts" : 400,
            "BackoffRate" : 1.1
           }
        ],
	    "Next": "ReconfigureBeanstalk"
	},
	"ReconfigureBeanstalk": {
		"Type": "Task",
		"Resource":"arn:aws:lambda:us-east-1:643366669028:function:update_bs_config",
	    "Next": "WaitForBeanstalkReconfigure"
	},
	"WaitForBeanstalkReconfigure": {
		"Type": "Task",
		"Resource":"arn:aws:lambda:us-east-1:643366669028:function:waitfor",
        "Retry": [
          {
            "ErrorEquals": ["WaitingForBoto3"],
            "IntervalSeconds": 60,
            "MaxAttempts" : 100,
            "BackoffRate" : 1.0
           }
        ],
	    "Next": "UpdateFoursight"
	},
	"UpdateFoursight": {
		"Type": "Task",
		"Resource":"arn:aws:lambda:us-east-1:643366669028:function:update_foursight",
		"End": true
	}
  }
}
